.containerExplication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  max-width: 900px;
  margin: auto;
}

.explicationGauche,
.explicationDroite {
  flex: 1;
}

.explicationGauche {
  padding-right: 40px;
}
.explicationGauche h2 {
  text-align: center;
  margin-bottom: 20px;
}
.explicationGauche p {
  text-align: justify;
}

.explicationDroite img {
  max-width: 100%;
  height: auto;
}


