/* Styles communs pour toutes les pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.cont-header {
  display: flex;
  align-items: center; /* Aligner verticalement */
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #fd9c9c;
}

.cont-header-titre {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.cont-header-titre h1 {
  font-size: 2rem;
  color: #333;
}

.cont-header-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.cont-header-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.cont-explication {
  display: flex;
  flex-direction: column; /* Aligne en colonne */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  text-align: center; /* Centre le texte */
  width: 80%;
  padding: 20px;
  margin: auto;
}


.cont-explication button {
    background-color: #fd9c9c;
  border: none;
  height: 5vh;
  margin-top: 50px;
  border-radius: 100px;
  letter-spacing: 0.16em;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}








.prestations-container {
  text-align: center;
  padding: 40px 0;
}

.prestations-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.prestations-box {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 20px; 
  margin: 0 auto;
  padding: 0 20px;
}

.prestations-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ddd;
  padding: 20px; 
  position: relative;
  flex-direction: column;
  width: 80%; 
  height: auto; 
  box-sizing: border-box;
  margin: 0 auto; 
}

.prestations-item img {
  width: 80%; 
  height: auto; 
  object-fit: cover;
}

.prestations-item h3 {
  font-size: 1.3rem; 
  margin-top: 10px;
}

.prestations-item p {
  font-size: 0.9rem;
  margin-top: 10px;
}

.prestations-item h3 + p {
  margin-top: 15px; 
}

@media screen and (max-width: 768px) {
  .prestations-box {
    grid-template-columns: 1fr; 
  }

  .prestations-item img {
    max-width: 100%;
    height: auto;
  }
}
