

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}



.cont-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "cont-header-titre cont-header-img";
  align-items: center;
  margin-top: 20px;
  background-color: #fbeaf3;
  padding: 40px;
  border-radius: 10px;
}

.cont-header-titre {
  grid-area: cont-header-titre;
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.cont-header-img {
  grid-area: cont-header-img;
  padding: 30px;
  margin-top: 40px;
}

.cont-header-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}






/* .cont-header {
  display: flex;
  align-items: center; Aligner verticalement 
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #fd9c9c;
}

.cont-header-titre {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.cont-header-titre h1 {
  font-size: 2rem;
  color: #333;
}

.cont-header-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.cont-header-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
} */




/* EXPLICATION  */
.cont-explication {
  display: flex;
  flex-direction: column; /* Aligne en colonne */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  text-align: center; /* Centre le texte */
  width: 80%;
  padding: 20px;
  margin: auto;
}

.cont-explication button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #fd9c9c;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cont-explication button:hover {
  background-color: #e67878;
}

.prestations-container h2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.prestations-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.prestations-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ddd;
  padding: 20px;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.prestations-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prestations-item h3 {
  font-size: 1.3rem;
  margin-top: 10px;
}

.prestations-item p {
  font-size: 0.9rem;
  margin-top: 10px;
}

.prestations-item h3 + p {
  margin-top: 15px;
}


/* tarif et prestation */


.tarif-header {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #fd9c9c;
}

.tarif-header-titre {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.tarif-header-titre h1 {
  font-size: 2rem;
  color: #333;
}

.tarif-header-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.tarif-header-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* tarif et prestation */
























@media screen and (max-width: 768px) {
  .prestations-box {
    grid-template-columns: 1fr;
  }

  .prestations-item img {
    max-width: 100%;
    height: auto;
  }
}
