.tarif-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "tarif-image-section tarif-info-section";
  align-items: center;
  margin-top: 20px;
  background-color: #fbeaf3;
  padding: 40px;
  border-radius: 10px;
}

.tarif-info-section {
  grid-area: tarif-info-section;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  color: black;
}

.tarif-image-section {
  grid-area: tarif-image-section;
  padding: 30px;
  margin-top: 40px;
}

.tarif-image-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.tarif-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tarif-rubrique {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.tarif-rubrique-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 5px;
}

.tarif-rubrique-btn:hover {
  background-color: #e0e0e0;
}

.tarif-sousmenu {
  padding: 10px 15px;
  margin-top: -5px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tarif-sousmenu p {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  color: #333;
  text-align: left;
}

/* ----------- RESPONSIVE DESIGN ----------- */
@media screen and (max-width: 768px) {
  .tarif-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "tarif-info-section"
      "tarif-image-section";
    text-align: center;
    padding: 20px;
  }

  .tarif-info-section {
    justify-content: center;
    padding: 10px;
  }

  .tarif-image-section {
    margin-top: 20px;
    padding: 10px;
  }

  .tarif-image-section img {
    width: 100%;
    height: auto;
  }
}
