/* -------- PRESENTATION -------- */
.home-presentation {
  background-image: url(../../assets/accueil/Presentation-accueil.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-presentation h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.home-presentation button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #fd9c9c;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-presentation button:hover {
  background-color: #e67878;
}


/* -------- BIOGRAPHIE -------- */
.bio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "bio-img bio-titre"
    "bio-img bio-texte";
  align-items: center;
  margin-top: 20px;
  background-color: #fbeaf3;
  padding: 40px;
  border-radius: 10px;
}

.bio-img {
  grid-area: bio-img;
  padding: 30px;
  margin-top: 40px;
}

.bio-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bio-titre {
  grid-area: bio-titre;
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
}

.bio-texte {
  grid-area: bio-texte;
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 15px;
  text-align: justify;
}

.bio-texte p {
  margin-bottom: 10px;
}

.bio-button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #fd9c9c;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bio-button:hover {
  background-color: #e67878;
}

/* -------- PRESTATIONS -------- */
.home-prestations {
  text-align: center;
  margin-top: -20px;
}

.home-prestations img {
  width: 30%;
  height: auto;
}

.home-prestations h2 {
  margin-top: -5%;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 20px;
}

.grid-item {
  width: 100%;
  height: 350px;
  text-align: center;
  font-size: 200%;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease-out;
  border-radius: 10px;
  overflow: hidden;
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1d9cf;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}

.grid-item span {
  position: absolute;
  z-index: 1;
  transition: transform 1.5s ease;
}

.grid-item:hover::before {
  opacity: 1;
}

.grid-item:hover span {
  transform: scale(1.2);
}

.item1 {
  background-image: linear-gradient(#ffffff80, #ffffff80),
    url("../../assets/regard/Beaute-du-regard.jpg");
}

.item2 {
  background-image: linear-gradient(#ffffff80, #ffffff80),
    url("../../assets/onglerie/manucures.jpg");
}

.item3 {
  background-image: linear-gradient(#ffffff80, #ffffff80),
    url("../../assets/massage/massages.jpg");
}

/* -------- AVIS CLIENT -------- */
.avis-client {
  height: 130px;
  background-color: #fd9c9c;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* ----------- RESPONSIVE DESIGN ----------- */
@media screen and (max-width: 768px) {
  /* ------ Présentation ------ */
  .home-presentation {
    background-position: left top;
  }

  .home-presentation h1 {
    font-size: 1.5rem;
    color: whitesmoke;
  }

  .home-presentation button {
    font-size: 0.9rem;
  }

  /* ------ Biographie ------ */
  .bio {
    grid-template-columns: 1fr;
    grid-template-areas:
      "bio-titre"
      "bio-img"
      "bio-texte";
    text-align: center;
    padding: 20px;
  }

  .bio-titre {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
  }

  .bio-img {
    width: 90%;
    margin: auto;
  }

  .bio-texte {
    width: 90%;
    margin: auto;
    text-align: justify;
  }

  .bio-button {
    width: fit-content;
    margin: 10px auto;
  }

  /* ------ Prestations ------ */
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .grid-item {
    width: 90%;
    height: 250px;
    font-size: 180%;
    margin: auto;
  }
}
