/* Presentation */
.home-presentation {
  background-image: url(../../assets/Presentation-accueil.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-presentation h1 {
  font-size: 4vw;
}

.home-presentation button {
  background-color: #fd9c9c;
  border-style: none;
  /* height: 5vh; */
  font-size: 2vw;
  margin-top: 50px;
}

/* Prestations */
.home-prestations {
  text-align: center;
}

.home-prestations > img {
  width: 30%;
  height: auto;
}

.home-prestations > h2 {
  margin-top: -50px;
  margin-bottom: 50px;
  font-size: 2vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
}

.grid-item {
  width: 70%;
  height: 350px;
  text-align: center;
  font-size: 290%;
  margin: auto;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.9s ease-out;
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1d9cf;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}

.grid-item span {
  position: absolute;
  z-index: 1;
  transition: transform 1.5s ease;
}

.grid-item:hover::before {
  opacity: 1;
}

.grid-item:hover span {
  transform: scale(1.5);
}

.item1 {
  background-image: linear-gradient(#ffffff80, #ffffff80),
    url("../../assets/Beaute-du-regard.jpg");
  object-fit: cover;
}

.item2 {
  background-image: linear-gradient(#ffffff80, #ffffff80),
    url("../../assets/manucures.jpg");
  object-fit: cover;
}

.item3 {
  background-image: linear-gradient(#ffffff80, #ffffff80),
    url("../../assets/massages.jpg");
  object-fit: cover;
}

/* Avis client */

.avis-client {
  height: 130px;
  background-color: #fd9c9c;
  margin-top: 20px;
  margin-bottom: 20px;
}
