/* ========== CONTAINER PRINCIPAL ========== */
.affiche-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

/* ========== HEADER ========== */
.affiche-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "affiche-header-titre affiche-header-img";
  align-items: center;
  margin-top: 20px;
  background-color: #fbeaf3;
  padding: 40px;
  border-radius: 10px;
}

.affiche-header-titre {
  grid-area: affiche-header-titre;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  color: black;
}

.affiche-header-img {
  grid-area: affiche-header-img;
  padding: 30px;
  margin-top: 40px;
}

.affiche-header-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* ========== EXPLICATION ========== */
.affiche-explication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding: 20px;
  margin: auto;
}

.affiche-explication h2 {
  margin-bottom: 20px;
}

.affiche-explication p {
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.6;
}

.affiche-button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #fd9c9c;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.affiche-button:hover {
  background-color: #e67878;
}

/* ========== DARK MODE ========== */
body.dark-mode .affiche-header {
  background-color: #2a2a2a;
}

body.dark-mode .affiche-header-titre,
body.dark-mode .affiche-explication h2,
body.dark-mode .affiche-explication p {
  color: #f0f0f0;
}

body.dark-mode .affiche-explication {
  background-color: #1e1e1e;
}

body.dark-mode .affiche-button {
  background-color: #ff85c1;
  color: #1e1e1e;
}

body.dark-mode .affiche-button:hover {
  background-color: #e1306c;
}

/* ========== RESPONSIVE DESIGN ========== */
@media screen and (max-width: 768px) {
  .affiche-header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "affiche-header-titre"
      "affiche-header-img";
    text-align: center;
    padding: 20px;
  }

  .affiche-header-titre {
    justify-content: center;
    padding: 10px;
    font-size: 20px;
  }

  .affiche-header-img {
    margin-top: 20px;
    padding: 10px;
  }

  .affiche-header-img img {
    width: 100%;
    height: auto;
  }
}
