.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.tarif-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "cont-header-img cont-header-titre ";
  align-items: center;
  margin-top: 20px;
  background-color: #fbeaf3;
  padding: 40px;
  border-radius: 10px;
}

.tarif-header-titre {
  grid-area: cont-header-titre;
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.tarif-header-img {
  grid-area: cont-header-img;
  padding: 30px;
  margin-top: 40px;
}

.tarif-header-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


/* a tester */

.menu-prestation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rubrique-prestation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.rubrique-prestation button {
  padding: 10px;
  font-size: 16px;
  /* text-align: left; */
  background-color: #f0f0f0;
  /* border: none; */
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 5px;
}

.rubrique-prestation button:hover {
  background-color: #e0e0e0;
}

.sousMenu-prestation {
  padding: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
}

















/* ----------- RESPONSIVE DESIGN ----------- */
@media screen and (max-width: 768px) {
  .tarif-header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cont-header-titre"
      "cont-header-img";
    text-align: center;
    padding: 20px;
  }

  .tarif-header-titre {
    justify-content: center; /* centre horizontalement le titre */
    padding: 10px;
  }

  .tarif-header-img {
    margin-top: 20px;
    padding: 10px;
  }

  .tarif-header-img img {
    width: 100%;
    height: auto;
  }
}
