/* ------------ Header ------------- */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  height: 160px;
}

header img {
  width: 35%;
  height: auto;
}

/* Menu principal */
.header-menu {
  display: flex;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-menu a {
  text-decoration: none;
  color: #000;
  padding: 15px;
  margin: 0 10px;
}

.header-menu li {
  display: inline-block;
}

/* ------------ Dropdown (Menu Déroulant) ------------- */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------ Menu Burger (Mobile) ------------- */

.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: auto;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  z-index: 2;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  padding: 15px;
  text-align: center;
}

.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

/* ------------ Sous-menu (Dropdown) Mobile ------------- */

.mobile-dropdown {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}

.mobile-dropdown li {
  padding: 8px 0;
  text-align: left;
}

.mobile-dropdown li a {
  font-size: 16px;
  color: #333;
}

/* ------------ Media Queries (pour les Mobiles) ------------- */

@media (max-width: 768px) {
  header img {
    width: 35%;
    height: auto;
  }

  .header-menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
