/* ------------ Footer Styles ------------- */

.footer {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.box1 {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.box1 img {
  width: 80%;
  max-width: 250px;
}

/* Mode sombre : Changer le fond et la couleur du texte */
body.dark .footer {
  background-color: #222; 
  color: #fff; 
}

body.dark .box2 a {
  color: #fff; 
}

/* Suppression des effets de survol */
body.dark .box2 a:hover {
  color: #fff; 
  text-decoration: none; 
}

body.dark .social-icon {
  color: #fff;
}


body.dark .social-icon:hover {
  color: #fff; 
}

.box2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.box2Info,
.box2Lien {
  flex: 1;
  text-align: start;
}

.box2 a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 8px;
  display: block;
}

.box2 a:hover {
  color: #333; 
  text-decoration: none; 
}

.box3 {
  display: flex;
  justify-content: start;
  margin-left: 60px;
}

.social-icon {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #333; 
}

.box4 {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    grid-template-areas:
      "box1"
      "box2";
    text-align: center;
    width: 80%;
    margin: auto;
    align-items: center;
  }

  .box1 img {
    width: 50%;
  }

  .box2 {
    flex-direction: column;
    align-items: center;
  }

  .box2Info,
  .box2Lien {
    text-align: center;
  }
}
