footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box3"
    "box4 box4";
  gap: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

/* ----------- LOGO ----------- */
.box1 {
  grid-area: box1;
  display: flex;
  justify-content: flex-start;
}

.box1 img {
  width: 80%;
  max-width: 300px;
}

.box2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.box2Info, .box2Lien {
  flex: 1;  /* Chacun prend 50% de l'espace */
  text-align: start;
  padding: 15px;
}


.box2 h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #000000;
  border-bottom: 2px solid #000000;
    padding-bottom: 18px;
    margin-bottom: 25px;
}





/* ----------- RÉSEAUX SOCIAUX ----------- */
.box3 {
  grid-area: box3;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.box3 a {
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-decoration: none;
}

/* ----------- COPYRIGHT ----------- */
.box4 {
  grid-area: box4;
  text-align: center;
  font-size: 14px;
}

/* ----------- RESPONSIVE DESIGN ----------- */
@media screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4";
    text-align: center;
  }

  .box1 {
    margin-top: -10%;
  }

  .box1 img{
    width: 35%;
    height: auto;
    border: 2px solid red;
  }

  .box2-button {
    width: fit-content;
    margin: 10px auto;
    border: 2px solid red;
  }

  .box2-info{
    display: flex;
    flex-direction: column;
  }

 


  /* .box2 {
    /* margin-top: -20%; */
  } */


  .box1 {
    justify-content: center;
  }

 

  .box3 {
    justify-content: center;
  }

