.prestations-container {
  /* padding: 2rem; */
  max-width: 1200px;
  margin: auto;
}

.prestations-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.prestations-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.prestations-box.reverse {
  flex-direction: row-reverse;
}

.prestations-item {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prestations-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.prestations-item h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.prestations-item p {
  font-size: 1rem;
  line-height: 1.6;
}


@media screen and (max-width: 768px) {
  .prestations-box,
  .prestations-box.reverse {
    flex-direction: column;
    align-items: center;
  }

  .prestations-item {
    width: 350px;
    height: 300px;
  }

  .prestations-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .prestations-item h3,
  .prestations-item p {
    text-align: center;
  }
}




