/* */


footer{
  background-color: #eeecf0;
}

.footer-container {
  display: grid;
  grid-template-columns: 30% 70%;
  width: auto;
  height: auto;
  /* border: 2px solid rgb(101, 9, 213); */
}

/* Logo */

.footer-logo {
  text-align: center;
  /* border: 2px solid rgb(101, 9, 213); */
}

footer img {
  width: 50%;
  height: auto;
  /* border: 2px solid rgb(101, 9, 213); */
}

/* Informations */

.footer-right {
  display: flex;
  flex-direction: column;
  /* border: 2px solid rgb(213, 118, 9); */
  /* justify-content: space-between; */
  
}


td {
  /* border-bottom-style: inset; */
  text-decoration: underline;
}

.footer-right-infos {
  padding: 10px;
  margin-top: 20px;
  /* border: 2px solid rgb(101, 9, 213); */
}

.footer-infos {
  display: grid;
  grid-template-columns: auto auto;
  /* border: 2px solid rgb(101, 9, 213); */
}

.footer-infos, a {
  text-decoration: none;
  color: black;
}

/* Reseaux sociaux */
.footer-reseaux-sociaux {
  display: flex;
  justify-content: center; 
  border-bottom-style: solid;
  width: 50%;
  margin: 0 auto;
  /* border: 2px solid rgb(101, 9, 213); */
}

.fa {
  padding: 10px;
  /* font-size: 30px; */
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  /* background: #3b5998; */
  color: rgb(0, 0, 0);
}

.fa-twitter {
  /* background: #55acee; */
  color: rgb(0, 0, 0);
}

/* Copyright */

.footer-copyright {
  text-align: center;
}
