.cont-header-titre {
    grid-area: cont-header-titre;
    display: flex;
    align-items: center; 
    justify-content:center; 
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    height: 100%;
    text-align: center;
  }

  
  .cont-header-titre h1 {
    margin: 0;
    line-height: 1.2;
  }





  @media screen and (max-width: 768px) {
    .cont-header {
      grid-template-columns: 1fr;
      grid-template-areas:
        "cont-header-titre"
        "cont-header-img";
      text-align: center;
      padding: 20px;
    }
  
    .cont-header-titre {
      justify-content: center; /* centre horizontalement le titre */
      padding: 10px;
    }
  
    .cont-header-img {
      margin-top: 20px;
      padding: 10px;
    }
  
    .cont-header-img img {
      width: 100%;
      height: auto;
    }
  }